connectors/connector-xmlsource-soap/src/test/resources/stockquotes.xml

<?xml version="1.0" encoding="utf-8"?>
<!--

    JBoss, Home of Professional Open Source.
    See the COPYRIGHT.txt file distributed with this work for information
    regarding copyright ownership.  Some portions may be licensed
    to Red Hat, Inc. under one or more contributor license agreements.	
    
    This library is free software; you can redistribute it and/or
    modify it under the terms of the GNU Lesser General Public
    License as published by the Free Software Foundation; either
    version 2.1 of the License, or (at your option) any later version.
    
    This library is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
    Lesser General Public License for more details.
    
    You should have received a copy of the GNU Lesser General Public
    License along with this library; if not, write to the Free Software
    Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
    02110-1301 USA.

-->

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ws.invesbot.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://ws.invesbot.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws.invesbot.com/">
      <s:element name="GetQuotes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="symbols" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQuotesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQuotesResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQuote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="symbol" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQuoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQuoteResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMarketIndex">
        <s:complexType />
      </s:element>
      <s:element name="GetMarketIndexResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMarketIndexResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetECNQuotes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="symbols" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetECNQuotesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetECNQuotesResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetQuotesSoapIn">
    <wsdl:part name="parameters" element="tns:GetQuotes" />
  </wsdl:message>
  <wsdl:message name="GetQuotesSoapOut">
    <wsdl:part name="parameters" element="tns:GetQuotesResponse" />
  </wsdl:message>
  <wsdl:message name="GetQuoteSoapIn">
    <wsdl:part name="parameters" element="tns:GetQuote" />
  </wsdl:message>
  <wsdl:message name="GetQuoteSoapOut">
    <wsdl:part name="parameters" element="tns:GetQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="GetMarketIndexSoapIn">
    <wsdl:part name="parameters" element="tns:GetMarketIndex" />
  </wsdl:message>
  <wsdl:message name="GetMarketIndexSoapOut">
    <wsdl:part name="parameters" element="tns:GetMarketIndexResponse" />
  </wsdl:message>
  <wsdl:message name="GetECNQuotesSoapIn">
    <wsdl:part name="parameters" element="tns:GetECNQuotes" />
  </wsdl:message>
  <wsdl:message name="GetECNQuotesSoapOut">
    <wsdl:part name="parameters" element="tns:GetECNQuotesResponse" />
  </wsdl:message>
  <wsdl:message name="GetQuotesHttpGetIn">
    <wsdl:part name="symbols" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetQuotesHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetQuoteHttpGetIn">
    <wsdl:part name="symbol" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetQuoteHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetMarketIndexHttpGetIn" />
  <wsdl:message name="GetMarketIndexHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetECNQuotesHttpGetIn">
    <wsdl:part name="symbols" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetECNQuotesHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetQuotesHttpPostIn">
    <wsdl:part name="symbols" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetQuotesHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetQuoteHttpPostIn">
    <wsdl:part name="symbol" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetQuoteHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetMarketIndexHttpPostIn" />
  <wsdl:message name="GetMarketIndexHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetECNQuotesHttpPostIn">
    <wsdl:part name="symbols" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetECNQuotesHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:portType name="StockQuotesSoap">
    <wsdl:operation name="GetQuotes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Enter symbols, seperated by space, Quotes delayed in 20 minutes.</wsdl:documentation>
      <wsdl:input message="tns:GetQuotesSoapIn" />
      <wsdl:output message="tns:GetQuotesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQuote">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Enter one symbol, quote delayed in 20 minutes.</wsdl:documentation>
      <wsdl:input message="tns:GetQuoteSoapIn" />
      <wsdl:output message="tns:GetQuoteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMarketIndex">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Dow, Nasdaq, S&amp;P500 index.</wsdl:documentation>
      <wsdl:input message="tns:GetMarketIndexSoapIn" />
      <wsdl:output message="tns:GetMarketIndexSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetECNQuotes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Enter symbols, seperated by space, Real-Time ECN quote.</wsdl:documentation>
      <wsdl:input message="tns:GetECNQuotesSoapIn" />
      <wsdl:output message="tns:GetECNQuotesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="StockQuotesHttpGet">
    <wsdl:operation name="GetQuotes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Enter symbols, seperated by space, Quotes delayed in 20 minutes.</wsdl:documentation>
      <wsdl:input message="tns:GetQuotesHttpGetIn" />
      <wsdl:output message="tns:GetQuotesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQuote">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Enter one symbol, quote delayed in 20 minutes.</wsdl:documentation>
      <wsdl:input message="tns:GetQuoteHttpGetIn" />
      <wsdl:output message="tns:GetQuoteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMarketIndex">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Dow, Nasdaq, S&amp;P500 index.</wsdl:documentation>
      <wsdl:input message="tns:GetMarketIndexHttpGetIn" />
      <wsdl:output message="tns:GetMarketIndexHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetECNQuotes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Enter symbols, seperated by space, Real-Time ECN quote.</wsdl:documentation>
      <wsdl:input message="tns:GetECNQuotesHttpGetIn" />
      <wsdl:output message="tns:GetECNQuotesHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="StockQuotesHttpPost">
    <wsdl:operation name="GetQuotes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Enter symbols, seperated by space, Quotes delayed in 20 minutes.</wsdl:documentation>
      <wsdl:input message="tns:GetQuotesHttpPostIn" />
      <wsdl:output message="tns:GetQuotesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQuote">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Enter one symbol, quote delayed in 20 minutes.</wsdl:documentation>
      <wsdl:input message="tns:GetQuoteHttpPostIn" />
      <wsdl:output message="tns:GetQuoteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMarketIndex">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Dow, Nasdaq, S&amp;P500 index.</wsdl:documentation>
      <wsdl:input message="tns:GetMarketIndexHttpPostIn" />
      <wsdl:output message="tns:GetMarketIndexHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetECNQuotes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Enter symbols, seperated by space, Real-Time ECN quote.</wsdl:documentation>
      <wsdl:input message="tns:GetECNQuotesHttpPostIn" />
      <wsdl:output message="tns:GetECNQuotesHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StockQuotesSoap" type="tns:StockQuotesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetQuotes">
      <soap:operation soapAction="http://ws.invesbot.com/GetQuotes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuote">
      <soap:operation soapAction="http://ws.invesbot.com/GetQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMarketIndex">
      <soap:operation soapAction="http://ws.invesbot.com/GetMarketIndex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetECNQuotes">
      <soap:operation soapAction="http://ws.invesbot.com/GetECNQuotes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StockQuotesSoap12" type="tns:StockQuotesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetQuotes">
      <soap12:operation soapAction="http://ws.invesbot.com/GetQuotes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuote">
      <soap12:operation soapAction="http://ws.invesbot.com/GetQuote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMarketIndex">
      <soap12:operation soapAction="http://ws.invesbot.com/GetMarketIndex" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetECNQuotes">
      <soap12:operation soapAction="http://ws.invesbot.com/GetECNQuotes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StockQuotesHttpGet" type="tns:StockQuotesHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetQuotes">
      <http:operation location="/GetQuotes" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuote">
      <http:operation location="/GetQuote" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMarketIndex">
      <http:operation location="/GetMarketIndex" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetECNQuotes">
      <http:operation location="/GetECNQuotes" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StockQuotesHttpPost" type="tns:StockQuotesHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetQuotes">
      <http:operation location="/GetQuotes" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuote">
      <http:operation location="/GetQuote" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMarketIndex">
      <http:operation location="/GetMarketIndex" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetECNQuotes">
      <http:operation location="/GetECNQuotes" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockQuotes">
    <wsdl:port name="StockQuotesSoap" binding="tns:StockQuotesSoap">
      <soap:address location="http://ws.invesbot.com/stockquotes.asmx" />      
    </wsdl:port>
    <wsdl:port name="StockQuotesSoap12" binding="tns:StockQuotesSoap12">
      <soap12:address location="http://ws.invesbot.com/stockquotes.asmx" />
    </wsdl:port>
    <wsdl:port name="StockQuotesHttpGet" binding="tns:StockQuotesHttpGet">
      <http:address location="http://ws.invesbot.com/stockquotes.asmx" />
    </wsdl:port>
    <wsdl:port name="StockQuotesHttpPost" binding="tns:StockQuotesHttpPost">
      <http:address location="http://ws.invesbot.com/stockquotes.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>