connectors/connector-xmlsource-soap/src/test/resources/service/distance/Distance.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--

    JBoss, Home of Professional Open Source.
    See the COPYRIGHT.txt file distributed with this work for information
    regarding copyright ownership.  Some portions may be licensed
    to Red Hat, Inc. under one or more contributor license agreements.
    
    This library is free software; you can redistribute it and/or
    modify it under the terms of the GNU Lesser General Public
    License as published by the Free Software Foundation; either
    version 2.1 of the License, or (at your option) any later version.
    
    This library is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
    Lesser General Public License for more details.
    
    You should have received a copy of the GNU Lesser General Public
    License along with this library; if not, write to the Free Software
    Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
    02110-1301 USA.

-->

<wsdl:definitions targetNamespace="http://webservices.imacination.com/distance/Distance.jws" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:intf="http://webservices.imacination.com/distance/Distance.jws" xmlns:impl="http://webservices.imacination.com/distance/Distance.jws">
  <wsdl:message name="getLongitudeResponse">
    <wsdl:part name="getLongitudeReturn" type="xsd:double"/>
  </wsdl:message>
  <wsdl:message name="getLongitudeRequest">
    <wsdl:part name="zip" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getLatitudeRequest">
    <wsdl:part name="zip" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getLatitudeResponse">
    <wsdl:part name="getLatitudeReturn" type="xsd:double"/>
  </wsdl:message>
  <wsdl:message name="getCityResponse">
    <wsdl:part name="getCityReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getCityRequest">
    <wsdl:part name="zip" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getLocationResponse">
    <wsdl:part name="getLocationReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getStateResponse">
    <wsdl:part name="getStateReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getStateRequest">
    <wsdl:part name="zip" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getLocationRequest">
    <wsdl:part name="zip" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getDistanceResponse">
    <wsdl:part name="getDistanceReturn" type="xsd:double"/>
  </wsdl:message>
  <wsdl:message name="getDistanceRequest">
    <wsdl:part name="fromZip" type="xsd:string"/>
    <wsdl:part name="toZip" type="xsd:string"/>
  </wsdl:message>
  <wsdl:portType name="Distance">
    <wsdl:operation name="getState" parameterOrder="zip">
      <wsdl:input name="getStateRequest" message="impl:getStateRequest"/>
      <wsdl:output name="getStateResponse" message="impl:getStateResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getLocation" parameterOrder="zip">
      <wsdl:input name="getLocationRequest" message="impl:getLocationRequest"/>
      <wsdl:output name="getLocationResponse" message="impl:getLocationResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getCity" parameterOrder="zip">
      <wsdl:input name="getCityRequest" message="impl:getCityRequest"/>
      <wsdl:output name="getCityResponse" message="impl:getCityResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getDistance" parameterOrder="fromZip toZip">
      <wsdl:input name="getDistanceRequest" message="impl:getDistanceRequest"/>
      <wsdl:output name="getDistanceResponse" message="impl:getDistanceResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getLatitude" parameterOrder="zip">
      <wsdl:input name="getLatitudeRequest" message="impl:getLatitudeRequest"/>
      <wsdl:output name="getLatitudeResponse" message="impl:getLatitudeResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getLongitude" parameterOrder="zip">
      <wsdl:input name="getLongitudeRequest" message="impl:getLongitudeRequest"/>
      <wsdl:output name="getLongitudeResponse" message="impl:getLongitudeResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DistanceSoapBinding" type="impl:Distance">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getState">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getStateRequest">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace"/>
      </wsdl:input>
      <wsdl:output name="getStateResponse">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices.imacination.com/distance/Distance.jws"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLocation">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getLocationRequest">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace"/>
      </wsdl:input>
      <wsdl:output name="getLocationResponse">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices.imacination.com/distance/Distance.jws"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCity">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getCityRequest">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace"/>
      </wsdl:input>
      <wsdl:output name="getCityResponse">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices.imacination.com/distance/Distance.jws"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDistance">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getDistanceRequest">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace"/>
      </wsdl:input>
      <wsdl:output name="getDistanceResponse">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices.imacination.com/distance/Distance.jws"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLatitude">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getLatitudeRequest">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace"/>
      </wsdl:input>
      <wsdl:output name="getLatitudeResponse">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices.imacination.com/distance/Distance.jws"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLongitude">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getLongitudeRequest">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace"/>
      </wsdl:input>
      <wsdl:output name="getLongitudeResponse">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices.imacination.com/distance/Distance.jws"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DistanceService">
    <wsdl:port name="Distance" binding="impl:DistanceSoapBinding">
      <wsdlsoap:address location="http://webservices.imacination.com/distance/Distance.jws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>