federate-soap/src/main/wsdl/SqlQueryWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.sqlquerywebservice.soap.metamatrix.com" xmlns:axis2="http://service.sqlquerywebservice.soap.metamatrix.com" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://service.sqlquerywebservice.soap.metamatrix.com/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://helper.sqlquerywebservice.soap.metamatrix.com/xsd" xmlns:ax21="http://helper.sqlquerywebservice.soap.metamatrix.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="LogInParameters" type="ax21:LogInParameters"/>
<xs:complexType name="LogInParameters">
<xs:sequence>
<xs:element name="connectionPayload" nillable="true" type="xs:string"/>
<xs:element name="mmServerUrl" nillable="true" type="xs:string"/>
<xs:element maxOccurs="unbounded" name="optionalProperties" nillable="true" type="ax21:Property"/>
<xs:element name="vdbName" nillable="true" type="xs:string"/>
<xs:element name="vdbVersion" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="Property" type="ax21:Property"/>
<xs:complexType name="Property">
<xs:sequence>
<xs:element name="propertyName" nillable="true" type="xs:string"/>
<xs:element name="propertyValue" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="Connection" type="ax21:Connection"/>
<xs:complexType name="Connection">
<xs:sequence>
<xs:element name="connectionId" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="ConnectionContextualRequest" type="ax21:ConnectionContextualRequest"/>
<xs:complexType name="ConnectionContextualRequest">
<xs:sequence>
<xs:element name="connection" nillable="true" type="ax21:Connection"/>
<xs:element name="requestInfo" nillable="true" type="ax21:RequestInfo"/>
</xs:sequence>
</xs:complexType>
<xs:element name="RequestInfo" type="ax21:RequestInfo"/>
<xs:complexType name="RequestInfo">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="bindParameters" nillable="true" type="xs:string"/>
<xs:element name="commandPayload" nillable="true" type="xs:string"/>
<xs:element name="cursorType" nillable="true" type="ax21:CursorType"/>
<xs:element name="fetchSize" type="xs:int"/>
<xs:element name="partialResults" type="xs:boolean"/>
<xs:element name="requestType" nillable="true" type="ax21:RequestType"/>
<xs:element name="sqlString" nillable="true" type="xs:string"/>
<xs:element name="transactionAutoWrapMode" minoccurs="0" nillable="true" type="ax21:TransactionAutoWrapType"/>
<xs:element name="useResultSetCache" type="xs:boolean"/>
<xs:element name="xmlFormat" nillable="true" type="xs:string"/>
<xs:element name="xmlStyleSheet" nillable="true" type="xs:string"/>
<xs:element name="xmlValidationMode" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:element name="CursorType" type="ax21:CursorType"/>
<xs:complexType name="CursorType">
<xs:sequence>
<xs:element name="discriminator" type="xs:int"/>
<xs:element name="value" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="RequestType" type="ax21:RequestType"/>
<xs:complexType name="RequestType">
<xs:sequence>
<xs:element name="discriminator" type="xs:int"/>
<xs:element name="value" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="TransactionAutoWrapType" type="ax21:TransactionAutoWrapType"/>
<xs:complexType name="TransactionAutoWrapType">
<xs:sequence>
<xs:element name="discriminator" type="xs:int"/>
<xs:element name="value" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="RequestId" type="ax21:RequestId"/>
<xs:complexType name="RequestId">
<xs:sequence>
<xs:element name="connectionId" nillable="true" type="xs:string"/>
<xs:element name="id" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="ConnectionlessRequest" type="ax21:ConnectionlessRequest"/>
<xs:complexType name="ConnectionlessRequest">
<xs:sequence>
<xs:element name="includeMetadata" type="xs:boolean"/>
<xs:element name="maxRowsReturned" type="xs:int"/>
<xs:element name="parameters" nillable="true" type="ax21:LogInParameters"/>
<xs:element name="requestInfo" nillable="true" type="ax21:RequestInfo"/>
<xs:element name="timeToWait" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:element name="Results" type="ax21:Results"/>
<xs:complexType name="Results">
<xs:sequence>
<xs:element name="beginRow" type="xs:int"/>
<xs:element name="data" nillable="true" type="ax21:Data"/>
<xs:element name="endRow" type="xs:int"/>
<xs:element name="hasData" type="xs:boolean"/>
<xs:element maxOccurs="unbounded" name="outputParameters" type="xs:anyType"/>
<xs:element maxOccurs="unbounded" name="sqlWarnings" nillable="true" type="ax21:SqlWarning"/>
<xs:element name="updateCount" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:element name="Data" type="ax21:Data"/>
<xs:complexType name="Data">
<xs:sequence>
<xs:element name="last" type="xs:boolean"/>
<xs:element maxOccurs="unbounded" name="metadataArray" nillable="true" type="ax21:ColumnMetadata"/>
<xs:element maxOccurs="unbounded" name="rows" nillable="true" type="ax21:Row"/>
</xs:sequence>
</xs:complexType>
<xs:element name="ColumnMetadata" type="ax21:ColumnMetadata"/>
<xs:complexType name="ColumnMetadata">
<xs:sequence>
<xs:element name="autoIncrement" type="xs:boolean"/>
<xs:element name="caseSensitive" type="xs:boolean"/>
<xs:element name="columnClassName" nillable="true" type="xs:string"/>
<xs:element name="columnDataType" nillable="true" type="xs:string"/>
<xs:element name="columnDisplaySize" type="xs:int"/>
<xs:element name="columnName" nillable="true" type="xs:string"/>
<xs:element name="currency" type="xs:boolean"/>
<xs:element name="getColumnLabel" nillable="true" type="xs:string"/>
<xs:element name="nullable" type="xs:boolean"/>
<xs:element name="precision" type="xs:int"/>
<xs:element name="readOnly" type="xs:boolean"/>
<xs:element name="scale" type="xs:int"/>
<xs:element name="searchable" type="xs:boolean"/>
<xs:element name="signed" type="xs:boolean"/>
<xs:element name="tableName" nillable="true" type="xs:string"/>
<xs:element name="virtualDatabaseName" nillable="true" type="xs:string"/>
<xs:element name="virtualDatabaseVersion" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="Row" type="ax21:Row"/>
<xs:complexType name="Row">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="cells" nillable="true" type="ax21:Cell"/>
</xs:sequence>
</xs:complexType>
<xs:element name="Cell" type="ax21:Cell"/>
<xs:complexType name="Cell">
<xs:sequence>
<xs:element name="value" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
<xs:element name="SqlWarning" type="ax21:SqlWarning"/>
<xs:complexType name="SqlWarning">
<xs:sequence>
<xs:element name="message" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="ResultsRequest" type="ax21:ResultsRequest"/>
<xs:complexType name="ResultsRequest">
<xs:sequence>
<xs:element name="endRow" type="xs:int"/>
<xs:element name="includeMetadata" type="xs:boolean"/>
<xs:element name="requestId" nillable="true" type="ax21:RequestId"/>
<xs:element name="startRow" type="xs:int"/>
<xs:element name="timeToWait" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.sqlquerywebservice.soap.metamatrix.com/xsd" xmlns:ns0="http://helper.sqlquerywebservice.soap.metamatrix.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="getConnectionFault">
<xs:complexType>
<xs:sequence>
<xs:element name="getConnectionFault" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="getConnection">
<xs:complexType>
<xs:sequence>
<xs:element name="params" nillable="true" type="ns0:LogInParameters"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="getConnectionResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="return" nillable="true" type="ns0:Connection"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="executeFault">
<xs:complexType>
<xs:sequence>
<xs:element name="executeFault" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="execute">
<xs:complexType>
<xs:sequence>
<xs:element name="request" nillable="true" type="ns0:ConnectionContextualRequest"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="executeResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="return" nillable="true" type="ns0:RequestId"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="executeBlockingFault">
<xs:complexType>
<xs:sequence>
<xs:element name="executeBlockingFault" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="executeBlocking">
<xs:complexType>
<xs:sequence>
<xs:element name="request" nillable="true" type="ns0:ConnectionlessRequest"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="executeBlockingResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="return" nillable="true" type="ns0:Results"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="getResultsFault">
<xs:complexType>
<xs:sequence>
<xs:element name="getResultsFault" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="getResults">
<xs:complexType>
<xs:sequence>
<xs:element name="resultsRequest" nillable="true" type="ns0:ResultsRequest"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="getResultsResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="return" nillable="true" type="ns0:Results"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="closeConnectionFault">
<xs:complexType>
<xs:sequence>
<xs:element name="closeConnectionFault" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="closeConnection">
<xs:complexType>
<xs:sequence>
<xs:element name="connection" nillable="true" type="ns0:Connection"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="terminateRequestFault">
<xs:complexType>
<xs:sequence>
<xs:element name="terminateRequestFault" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="terminateRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="requestId" nillable="true" type="ns0:RequestId"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="terminateRequestFault">
    <wsdl:part name="part1" element="ns:terminateRequestFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="closeConnectionFault">
    <wsdl:part name="part1" element="ns:closeConnectionFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeBlockingMessage">
    <wsdl:part name="part1" element="ns:executeBlocking">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeBlockingResponseMessage">
    <wsdl:part name="part1" element="ns:executeBlockingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="closeConnectionMessage">
    <wsdl:part name="part1" element="ns:closeConnection">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getConnectionMessage">
    <wsdl:part name="part1" element="ns:getConnection">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeFault">
    <wsdl:part name="part1" element="ns:executeFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getResultsMessage">
    <wsdl:part name="part1" element="ns:getResults">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getResultsResponseMessage">
    <wsdl:part name="part1" element="ns:getResultsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeBlockingFault">
    <wsdl:part name="part1" element="ns:executeBlockingFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getConnectionFault">
    <wsdl:part name="part1" element="ns:getConnectionFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getResultsFault">
    <wsdl:part name="part1" element="ns:getResultsFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="terminateRequestMessage">
    <wsdl:part name="part1" element="ns:terminateRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getConnectionResponseMessage">
    <wsdl:part name="part1" element="ns:getConnectionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeMessage">
    <wsdl:part name="part1" element="ns:execute">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeResponseMessage">
    <wsdl:part name="part1" element="ns:executeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SqlQueryWebServicePortType">
    <wsdl:operation name="getConnection">
      <wsdl:input message="axis2:getConnectionMessage">
    </wsdl:input>
      <wsdl:output message="axis2:getConnectionResponseMessage">
    </wsdl:output>
      <wsdl:fault name="getConnectionFault" message="axis2:getConnectionFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="execute">
      <wsdl:input message="axis2:executeMessage">
    </wsdl:input>
      <wsdl:output message="axis2:executeResponseMessage">
    </wsdl:output>
      <wsdl:fault name="executeFault" message="axis2:executeFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="executeBlocking">
      <wsdl:input message="axis2:executeBlockingMessage">
    </wsdl:input>
      <wsdl:output message="axis2:executeBlockingResponseMessage">
    </wsdl:output>
      <wsdl:fault name="executeBlockingFault" message="axis2:executeBlockingFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getResults">
      <wsdl:input message="axis2:getResultsMessage">
    </wsdl:input>
      <wsdl:output message="axis2:getResultsResponseMessage">
    </wsdl:output>
      <wsdl:fault name="getResultsFault" message="axis2:getResultsFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="closeConnection">
      <wsdl:input message="axis2:closeConnectionMessage">
    </wsdl:input>
      <wsdl:fault name="closeConnectionFault" message="axis2:closeConnectionFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="terminateRequest">
      <wsdl:input message="axis2:terminateRequestMessage">
    </wsdl:input>
      <wsdl:fault name="terminateRequestFault" message="axis2:terminateRequestFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SqlQueryWebServiceSOAP11Binding" type="axis2:SqlQueryWebServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getConnection">
      <soap:operation soapAction="urn:getConnection" style="document"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://service.sqlquerywebservice.soap.metamatrix.com"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://service.sqlquerywebservice.soap.metamatrix.com"/>
      </wsdl:output>
      <wsdl:fault name="getConnectionFault">
    <soap:body namespace="http://service.sqlquerywebservice.soap.metamatrix.com" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="execute">
      <soap:operation soapAction="urn:execute" style="document"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://service.sqlquerywebservice.soap.metamatrix.com"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://service.sqlquerywebservice.soap.metamatrix.com"/>
      </wsdl:output>
      <wsdl:fault name="executeFault">
    <soap:body namespace="http://service.sqlquerywebservice.soap.metamatrix.com" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="executeBlocking">
      <soap:operation soapAction="urn:executeBlocking" style="document"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://service.sqlquerywebservice.soap.metamatrix.com"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://service.sqlquerywebservice.soap.metamatrix.com"/>
      </wsdl:output>
      <wsdl:fault name="executeBlockingFault">
    <soap:body namespace="http://service.sqlquerywebservice.soap.metamatrix.com" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getResults">
      <soap:operation soapAction="urn:getResults" style="document"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://service.sqlquerywebservice.soap.metamatrix.com"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://service.sqlquerywebservice.soap.metamatrix.com"/>
      </wsdl:output>
      <wsdl:fault name="getResultsFault">
    <soap:body namespace="http://service.sqlquerywebservice.soap.metamatrix.com" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="closeConnection">
      <soap:operation soapAction="urn:closeConnection" style="document"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://service.sqlquerywebservice.soap.metamatrix.com"/>
      </wsdl:input>
      <wsdl:fault name="closeConnectionFault">
    <soap:body namespace="http://service.sqlquerywebservice.soap.metamatrix.com" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="terminateRequest">
      <soap:operation soapAction="urn:terminateRequest" style="document"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://service.sqlquerywebservice.soap.metamatrix.com"/>
      </wsdl:input>
      <wsdl:fault name="terminateRequestFault">
    <soap:body namespace="http://service.sqlquerywebservice.soap.metamatrix.com" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SqlQueryWebServiceSOAP12Binding" type="axis2:SqlQueryWebServicePortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getConnection">
      <soap12:operation soapAction="urn:getConnection" style="document"/>
      <wsdl:input>
        <soap12:body use="literal" namespace="http://service.sqlquerywebservice.soap.metamatrix.com"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://service.sqlquerywebservice.soap.metamatrix.com"/>
      </wsdl:output>
      <wsdl:fault name="getConnectionFault">
    <soap12:body namespace="http://service.sqlquerywebservice.soap.metamatrix.com" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="execute">
      <soap12:operation soapAction="urn:execute" style="document"/>
      <wsdl:input>
        <soap12:body use="literal" namespace="http://service.sqlquerywebservice.soap.metamatrix.com"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://service.sqlquerywebservice.soap.metamatrix.com"/>
      </wsdl:output>
      <wsdl:fault name="executeFault">
    <soap12:body namespace="http://service.sqlquerywebservice.soap.metamatrix.com" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="executeBlocking">
      <soap12:operation soapAction="urn:executeBlocking" style="document"/>
      <wsdl:input>
        <soap12:body use="literal" namespace="http://service.sqlquerywebservice.soap.metamatrix.com"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://service.sqlquerywebservice.soap.metamatrix.com"/>
      </wsdl:output>
      <wsdl:fault name="executeBlockingFault">
    <soap12:body namespace="http://service.sqlquerywebservice.soap.metamatrix.com" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getResults">
      <soap12:operation soapAction="urn:getResults" style="document"/>
      <wsdl:input>
        <soap12:body use="literal" namespace="http://service.sqlquerywebservice.soap.metamatrix.com"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://service.sqlquerywebservice.soap.metamatrix.com"/>
      </wsdl:output>
      <wsdl:fault name="getResultsFault">
    <soap12:body namespace="http://service.sqlquerywebservice.soap.metamatrix.com" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="closeConnection">
      <soap12:operation soapAction="urn:closeConnection" style="document"/>
      <wsdl:input>
        <soap12:body use="literal" namespace="http://service.sqlquerywebservice.soap.metamatrix.com"/>
      </wsdl:input>
      <wsdl:fault name="closeConnectionFault">
    <soap12:body namespace="http://service.sqlquerywebservice.soap.metamatrix.com" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="terminateRequest">
      <soap12:operation soapAction="urn:terminateRequest" style="document"/>
      <wsdl:input>
        <soap12:body use="literal" namespace="http://service.sqlquerywebservice.soap.metamatrix.com"/>
      </wsdl:input>
      <wsdl:fault name="terminateRequestFault">
    <soap12:body namespace="http://service.sqlquerywebservice.soap.metamatrix.com" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SqlQueryWebService">
    <wsdl:port name="SqlQueryWebServiceSOAP11port" binding="axis2:SqlQueryWebServiceSOAP11Binding">
      <soap:address location="http://192.168.10.120:8080/metamatrix-soap/services/SqlQueryWebService"/>
    </wsdl:port>
    <wsdl:port name="SqlQueryWebServiceSOAP12port" binding="axis2:SqlQueryWebServiceSOAP12Binding">
      <soap12:address location="http://slwxp156:8080/metamatrix-soap/services/SqlQueryWebServiceSqlQueryWebService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
